<html lang="pt_BR" ng-app="tabela_pcctae">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <title>Tabela PCCTAE - 0.1.0</title>

  <!-- CSS  -->
  <link type="text/css" rel="stylesheet" href="bower_components/materialize/bin/materialize.css"  media="screen,projection"/>
  <link type="text/css" rel="stylesheet" href="bower_components/angular-loading-bar/build/loading-bar.min.css" media="screen,projection" />
  <link type="text/css" rel="stylesheet" href="css/index.css"  media="screen,projection"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
</head>
<body ng-controller="main-controller">
  <nav class="blue darken-2">
    <div class="container">
      <div class="nav-wrapper">
        <a id="logo-container" href="#" class="brand-logo">
          Tabela PCCTAE
        </a>
        <ul id="nav-mobile" class="right side-nav">
          <li><a href="#">Versão Desktop</a></li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="section no-pad-top" id="conteudo">
    <div class="col s12 lhide">
      <ul class="abas">
        <li class="aba col s3"><a href="#" ng-click="show_resultado(0); indicar(0)" id="abainicio">Início</a></li>
        <li class="aba col s3"><a href="#" ng-click="show_resultado(1); indicar(1)" id="abaresultado" style="color: #cccccc">Resultado</a></li>
        <div class="indicador" style="right:50%; left:0%"></div>
      </ul>
    </div>
    <div class="row" ng-show="!loaded">
      <div class="progress">
        <div class="indeterminate"></div>
      </div>
    </div>
    <div class="row" ng-cloak>
      <div id="inicio" class="floating-content col s12 m12 l6" ng-show="showInicio" ng-swipe-left="show_resultado(1); indicar(1)">
        <h5 class="flow-text">Preencha as informações</h5>
        <form>
          <div class="col s12">
            <div class="row">
              <label class="flow-text">Estrutura de Vencimento Básico do PCCTAE <span class='red-text'>*</span>:</label>
              <select name="estrutura" ng-change="update()" ng-model="estrutura" ng-options="value.key as value.value for value in estruturas" required="required"reload-select>
                <option value='' disabled>Escolha uma opção</option>
              </select>
            </div>
          </div>

          <div class="col s12 m6">
            <div class="row">
            <label class="flow-text">Classe <span class='red-text'>*</span>:</label>
            <select name="classe" ng-change="update()" ng-model="classe" ng-options="value.key as value.value for value in classes" required="required" reload-select>
              <option value=''  disabled selected>Escolha uma opção</option>
            </select>

            </div>
          </div>

          <div class="col s12 m6">
            <div class="row">
            <label class="flow-text">Nível <span class='red-text'>*</span>:</label>
            <select name="nivel" ng-change="update()" ng-model="nivel" ng-options="value as value for value in niveis" required="required" reload-select>
              <option value=''  disabled selected>Escolha uma opção</option>
            </select>
            </div>
          </div>

          <div class="col s12 m6">
            <div class="row">
            <label class="flow-text">Qualificação:</label>
            <select name="qualificacao" ng-change="update()" ng-model="qualificacao" ng-options="value as value for value in qualificacoes" reload-select>
              <option value=''>Nível Exigido pelo Cargo</option>
            </select>
            </div>
          </div>

          <div class="col s12 m6">
            <div class="row">
            <label class="flow-text">Relação <span class='red-text'>*</span>:</label>
            <select name="relacao" ng-change="update()" ng-model="relacao" ng-options="value as value for value in tipos_relacoes" required="required" reload-select>
              <option value=''  disabled selected>Escolha uma opção</option>
            </select>
            </div>
          </div>

          <div class="col s12">
            <div class="row">
            <label class="flow-text">Gratificação por Função:</label>
            <select name="gratificacao" ng-change="update()" ng-model="gratificacao" ng-options="value as value for value in gratificacoes" reload-select>
              <option value=''  selected>Escolha uma opção</option>
            </select>
            </div>
          </div>

          <div class="col s12">
            <div class="row">
            <label class="flow-text">Adicional Periculosidade/Insalubridade:</label>
            <select name="insalubridade" ng-change="update()" ng-model="insalubridade" ng-options="value.key as value.value for value in insalubridades" reload-select>
              <option value='' selected>Escolha uma opção</option>
            </select>
            </div>
          </div>
          
          <div class="col s12">
            <div class="row">
              <label class="flow-text">Saúde Suplementar</label>
              <select name="saude_idade" ng-change="update()" ng-model="saude_idade" ng-options="value as value for value in saude_idades" reload-select>
                <option value='' selected>Escolha uma faixa-etária</option>
              </select>
              <blockquote>
                Não inclui os dependentes. Preencha em "Outras Gratificações"
              </blockquote>
            </div>
          </div>
          
          <div class="col s12">
            <div class="row">
            <label class="flow-text">Auxílio Pré-Escolar:</label>
            <select name="preescola" ng-change="update()" ng-model="preescola" ng-options="value as value for value in niveis" reload-select>
              <option value='' selected>Número de dependentes</option>
            </select>
            </div>
          </div>

          <div class="col s12">
            <div class="row">
              <div class="input-field">
                <label class="flow-text">Auxílio Transporte:</label>
                <input type="number" id="auxilio_transporte_input" name="auxilio_transporte_input" ng-model="auxilio_transporte_input" ng-change="update()">
              </div>
            </div>
          </div>

          <div class="col s12">
            <div class="row">
              <div class="input-field">
                <label class="flow-text">Outras Gratificações:</label>
                <input id="" type="number" ng-model="outras_input" ng-change="update()">
              </div>
            </div>
          </div>

          <div class="col s12">
            <div class="row">
              <div class="input-field">
                <label class="flow-text">Previdência Complementar:</label>
                <input id="" type="number" ng-model="previdencia_complementar_input" ng-change="update()">
              </div>
            </div>
          </div>

          <div class="col s12" ng-show="bruto_maior_teto">
            <div class="row">
              <label class="flow-text">Percentual FUNPRESP:</label>
              <select name="funpresp_input" ng-change="update()" ng-model="funpresp_input" ng-options="value.key as value.value for value in percentuais_funpresp" reload-select>
                <option value=''  selected>Opcional</option>
              </select>
            </div>
          </div>
          
          <div class="col s12">
            <h5 class="flow-text">Opções</h5>
            <div class="row">
              <div class="input-field col s12">
                <input id="modelo_novo_previdencia_input" name="modelo_novo_previdencia_input" type="checkbox" ng-model="modelo_novo_previdencia_input" ng-change="update()" />
                <label for="modelo_novo_previdencia_input">Modelo novo de previdência</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s12">
                <input id="adicionar_ferias_input" name="adicionar_ferias_input" type="checkbox" ng-model="adicionar_ferias_input" ng-change="update()" />
                <label for="adicionar_ferias_input">Inserir Adicional de Férias</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s12">
                <input id="adicionar_primeira_parcela_gratificacao_input" name="adicionar_primeira_parcela_gratificacao_input" type="checkbox" ng-model="adicionar_primeira_parcela_gratificacao_input" ng-change="update()" />
                <label for="adicionar_primeira_parcela_gratificacao_input">Inserir Primeira Parcela da Gratificação Natalina</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s12">
                <input id="adicionar_segunda_parcela_gratificacao_input" name="adicionar_segunda_parcela_gratificacao_input" type="checkbox" ng-model="adicionar_segunda_parcela_gratificacao_input" ng-change="update()" />
                <label for="adicionar_segunda_parcela_gratificacao_input">Inserir Segunda Parcela da Gratificação Natalina</label>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div id="resultado" class="col s12 l6" ng-show="showResultado" ng-swipe-right="show_resultado(0); indicar(0)">
        <h5 class="flow-text">Resultado da Simulação</h5>

        <table>
          <tbody>
            <tr style="font-weight:bold;">
              <td>Salário Bruto</td>
              <td class="blue-text">R$ {{salario_bruto.replace('.', ',')}}</td>
            </tr>
            <tr style="font-weight:bold;">
              <td>Total de Descontos</td>
              <td class="red-text">R$ {{total_desconto.replace('.', ',')}}</td>
            </tr>
            <tr style="font-weight:bold;">
              <td>Salário Líquido</td>
              <td class="green-text">R$ {{salario_liquido.replace('.', ',')}}</td>
            </tr>
          </tbody>
        </table>

        <h5 class="flow-text">Quadro Resumo</h5>
        <table>
          <tbody>
            <tr>
              <td colspan="2">
                <h6 class="grey-text lighten-1">
                  <strong>Receitas</strong>
                </h6>
              </td>
            </tr>
            <tr>
              <td>Vencimento Básico</td>
              <td>R$ {{vencimento_basico.replace('.', ',')}}</td>
            </tr>
            <tr>
              <td>Incentivo à Qualificação</td>
              <td>R$ {{incentivo_qualificacao.replace('.', ',')}}</td>
            </tr>
            <tr>
              <td>Gratificação por Função</td>
              <td>R$ {{gratificacao_basico.replace('.', ',')}}</td>
            </tr>
            <tr>
              <td>Adicional Peric./Ins.</td>
              <td>R$ {{adicional_insalubridade.replace('.', ',')}}</td>
            </tr>
            <tr>
              <td>Auxílio Alimentação</td>
              <td>R$ {{auxilio_alimentacao.replace('.', ',')}}</td>
            </tr>
            <tr>
              <td>Auxílio Pré-Escolar</td>
              <td>R$ {{auxilio_preescola.replace('.', ',')}}</td>
            </tr>
            <tr>
              <td>Auxílio Transporte</td>
              <td>R$ {{auxilio_transporte.replace('.', ',')}}</td>
            </tr>
            <tr>
              <td>Outras Gratificações</td>
              <td>R$ {{outras.replace('.', ',')}}</td>
            </tr>
            <tr>
              <td>Saúde Suplementar</td>
              <td>R$ {{saude_suplementar.replace('.', ',')}}</td>
            </tr>
            <tr ng-show="adicionar_primeira_parcela_gratificacao_input">
              <td>Gratificação Natalina</td>
              <td>R$ {{gratificacao_natalina_1.replace('.', ',')}}</td>
            </tr>
            <tr ng-show="adicionar_segunda_parcela_gratificacao_input">
              <td>Gratificação Natalina</td>
              <td>R$ {{gratificacao_natalina_2.replace('.', ',')}}</td>
            </tr>
            <tr ng-show="adicionar_ferias_input">
              <td>Adicional Férias</td>
              <td>R$ {{ferias.replace('.', ',')}}</td>
            </tr>
            <tr style="border:none;">
              <td colspan="2">
                <h6 class="grey-text lighten-1">
                  <strong>Descontos</strong>
                </h6>
              </td>
            </tr>
            <tr>
              <td>Base para INSS</td>
              <td class="grey-text">R$ {{base_inss.replace('.', ',')}}</td>
            </tr>
            <tr>
              <td>Alíquota INSS</td>
              <td class="grey-text">{{aliquota_inss}}</td>
            </tr>
            <tr>
              <td>Desconto INSS</td>
              <td class="red-text">R$ {{desconto_inss.replace('.', ',')}}</td>
            </tr>
            <tr>
              <td>Base para Imposto de Renda</td>
              <td class="grey-text">{{base_irpf.replace('.', ',')}}</td>
            </tr>
            <tr>
              <td>Alíquota do Imposto de Renda</td>
              <td class="grey-text">{{aliquota_irpf}}</td>
            </tr>
            <tr>
              <td>Desconto Imposto de Renda</td>
              <td class="red-text">R$ {{desconto_irpf.replace('.', ',')}}</td>
            </tr>
            <tr ng-show="adicionar_ferias_input">
              <td>Desconto Imposto de Renda das Férias</td>
              <td class="red-text">R$ {{desconto_irpf_ferias.replace('.', ',')}}</td>
            </tr>
            <tr>
              <td>Previdência Complementar</td>
              <td class="red-text">R$ {{previdencia_complementar.replace('.', ',')}}</td>
            <tr>
            <tr ng-show="bruto_maior_teto">
              <td>Previdência FUNPRESP</td>
              <td class="red-text">R$ {{funpresp.replace('.', ',')}}</td>
            </tr>
            <tr ng-show="adicionar_segunda_parcela_gratificacao_input">
              <td>Outros Descontos</td>
              <td class="red-text">R$ {{outros_descontos.replace('.', ',')}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <footer class="col s12 blue darken-3">
    <div class="footer-responsibility tiny-font lhide">
      * Não somos responsáveis pelos valores apresentados aqui.<br />
      <a class="white-text lighten-4 center" href="#" ng-click="delete(); ">Limpar Formulário</a>
    </div>
    <div class="footer-responsibility container valign hhide">
      * Não somos responsáveis pelo mau uso desta ferramenta, os valores podem variar.<br />
      <a class="white-text lighten-4 center" href="LICENSE">MIT License</a><br />
      <a class="white-text lighten-4 center" href="#" ng-click="delete(); ">Limpar Formulário</a>
    </div>

      
  </footer>
  <!--  Scripts-->
  <script src="bower_components/jquery/dist/jquery.min.js"></script>
  <script src="js/materialize.min.js"></script>
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-loading-bar/build/loading-bar.min.js"></script>
  <script src="bower_components/angular-touch/angular-touch.min.js"></script>
  <script src="bower_components/ngstorage/ngStorage.min.js"></script>
  <script src="js/principal.js"></script>
  <!-- Google Analytics -->
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-68397814-1', 'auto');
    ga('send', 'pageview');
  </script>
  </body>
</html>
