<html lang="pt_BR" ng-app="tabela_pcctae">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <title>Tabela PCCTAE - 0.0.1</title>

  <!-- CSS  -->
  <link type="text/css" rel="stylesheet" href="bower_components/materialize/bin/materialize.css"  media="screen,projection"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
  <link rel="stylesheet" href="css/app.css">
</head>
<body>
  <nav class="red lighten-2">
    <div class="container">
      <div class="nav-wrapper">
        <a id="logo-container" href="#" class="brand-logo">
          Tabela PCCTAE
        </a>
        <ul id="nav-mobile" class="right side-nav">
          <li><a href="#">Versão Desktop</a></li>
        </ul><a href="#" data-activates="nav-mobile" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
      </div>
    </div>
  </nav>
  <div class="section no-pad-bot" id="conteudo">
    <div class="container">
      <div class="row">
        <form class="floating-content col s12 m12 l7">
          <div class="col s12">
            <h2 class="flow-text">Estrutura do Vencimento Básico do PCCTAE:</h2>
            <select>
              <option value="" disabled selected>Escolha uma opção</option>
              <option value="1">Julho de 2010</option>
              <option value="2">Março de 2013: Aumento 5%</option>
              <option value="3">Março de 2014: Aumento 5% + Step (3,7%)</option>
              <option value="4">Março de 2015: Aumento 5% + Step (3,8%)</option>
            </select>
          </div>

          <div class="col s12 m6">
            <h2 class="flow-text">Qualificação:</h2>
            <select>
              <option value="" disabled selected>Escolha uma opção</option>
              <option value="0">Nível Exigido pelo Cargo</option>
              <option value="1">Ensino Fundamental Completo</option>
              <option value="2">Ensino Médio Completo</option>
              <option value="3">Técnico</option>
              <option value="4">Graduado</option>
              <option value="5">Especialista</option>
              <option value="6">Mestre</option>
              <option value="7">Doutor</option>
            </select>
          </div>

          <div class="col s12 m6">
            <h2 class="flow-text">Relação:</h2>
            <select>
              <option value="" disabled selected>Escolha uma opção</option>
              <option value="1">Direta</option>
              <option value="2">Indireta</option>
            </select>
          </div>

          <div class="col s12 m6">
            <h2 class="flow-text">Classe:</h2>
            <select>
              <option value="" disabled selected>Escolha uma opção</option>
              <option value="A1">AI</option>
              <option value="A2">AII</option>
              <option value="A3">AIII</option>
              <option value="A4">AIV</option>

              <option value="D1">DI</option>
              <option value="D2">DII</option>
              <option value="D3">DIII</option>
              <option value="D4">DIV</option>

              <option value="C1">CI</option>
              <option value="C2">CII</option>
              <option value="C3">CIII</option>
              <option value="C4">CIV</option>

              <option value="D1">DI</option>
              <option value="D2">DII</option>
              <option value="D3">DIII</option>
              <option value="D4">DIV</option>

              <option value="E1">EI</option>
              <option value="E2">EII</option>
              <option value="E3">EIII</option>
              <option value="E4">EIV</option>
            </select>
          </div>

          <div class="col s12 m6">
            <h2 class="flow-text">Nível:</h2>
            <select>
              <option value="" disabled selected>Escolha uma opção</option>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
              <option value="6">6</option>
              <option value="7">7</option>
              <option value="8">8</option>
              <option value="9">9</option>
              <option value="10">10</option>
              <option value="11">11</option>
              <option value="12">12</option>
              <option value="13">13</option>
              <option value="14">14</option>
              <option value="15">15</option>
              <option value="16">16</option>
            </select>
          </div>

          <div class="col s12">
            <h2 class="flow-text">Auxílio Alimentação:</h2>
            <select>
              <option value="1" disabled selected>R$ 373,00</option>
            </select>
          </div>

          <div class="col s12" ng-controller="gratificacao">
            <h2 class="flow-text">Gratificação:</h2>
            <select ng-model="gratificacao">
              <option ng-repeat="cd in cds_fgs" value="{{$index}}">{{cd}}</option>
            </select>
            <select>
              <option value="" selected>Opcional</option>
              <option value="1">CD-1</option>
              <option value="2">CD-2</option>
              <option value="3">CD-3</option>
              <option value="4">CD-4</option>
              <option value="5">FG-1</option>
              <option value="6">FG-2</option>
              <option value="7">FG-3</option>
              <option value="8">FG-4</option>
              <option value="9">FG-5</option>
              <option value="10">FG-6</option>
              <option value="11">FG-7</option>
              <option value="12">FG-8</option>
              <option value="13">FG-9</option>
            </select>
          </div>

          <div class="col s12">
            <h2 class="flow-text">Adicional Periculosidade/Insalubridade:</h2>
            <select>
              <option value="" disabled selected></option>
            </select>
          </div>

          <div class="col s12">
            <h2 class="flow-text">Auxílio Pré-Escolar:</h2>
            <select>
              <option value="" disabled selected>Número de dependentes</option>
            </select>
          </div>

          <div class="col s12">
            <h2 class="flow-text">Auxílio Transporte:</h2>
            
            <div class="row">
              <div class="input-field col s12">
                <input id="" type="text">
                <label>Valor</label>
              </div>
            </div>
          </div>

          <div class="col s12">
            <h2 class="flow-text">Outras Gratificações:</h2>
            
            <div class="row">
              <div class="input-field col s12">
                <input id="" type="text">
                <label>Valor</label>
              </div>
            </div>
          </div>

          <div class="col s12">
            <h2 class="flow-text">Saúde Suplementar:</h2>
            
            <div class="row">
              <div class="input-field col s12">
                <input id="" type="text">
                <label>Valor</label>
              </div>
            </div>
          </div>
        </form>

        <div class="floating-content col s12 m12 l4 offset-l1">
          <h2 class="flow-text">Resultado da Simulação</h2>

          <table class="bordered">
            <tbody>
              <tr style="font-weight:bold;">
                <td>Salário Bruto</td>
                <td class="blue-text">R$ 0,00</td>
              </tr>
              <tr style="font-weight:bold;">
                <td>Total de Descontos</td>
                <td class="red-text">R$ 0,00</td>
              </tr>
              <tr style="font-weight:bold;">
                <td>Salário Líquido</td>
                <td class="green-text">R$ 0,00</td>
              </tr>
            </tbody>
          </table>

          <h2 class="flow-text">Quadro Resumo</h2>
          <table>
            <tbody>
              <tr>
                <td colspan="2">
                  <h6 class="grey-text lighten-1">
                    <strong>Receitas</strong>
                  </h6>
                </td>
              </tr>
              <tr>
                <td>Vencimento Básico</td>
                <td>R$ 0,00</td>
              </tr>
              <tr>
                <td>Incentivo à Qualificação</td>
                <td>R$ 0,00</td>
              </tr>
              <tr>
                <td>Gratificação</td>
                <td>R$ 0,00</td>
              </tr>
              <tr>
                <td>Adicional Peric./Ins.</td>
                <td>R$ 0,00</td>
              </tr>
              <tr>
                <td>Auxílio Pré-Escolar</td>
                <td>R$ 0,00</td>
              </tr>
              <tr>
                <td>Auxílio Transporte</td>
                <td>R$ 0,00</td>
              </tr>
              <tr>
                <td>Outras Gratificações</td>
                <td>R$ 0,00</td>
              </tr>
              <tr>
                <td>Saúde Suplementar</td>
                <td>R$ 0,00</td>
              </tr>

              <tr style="border:none;">
                <td colspan="2">
                  <h6 class="grey-text lighten-1">
                    <strong>Descontos</strong>
                  </h6>
                </td>
              </tr>
              <tr>
                <td>Base para INSS</td>
                <td class="red-text">R$ 0,00</td>
              </tr>
              <tr>
                <td>Alíquota INSS</td>
                <td class="red-text"></td>
              </tr>
              <tr>
                <td>Desconto INSS</td>
                <td class="red-text">R$ 0,00</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <footer class="red lighten-2">
    <div class="container">
      <div class="row">
        <div class="col l12 s12">
          <h5 class="white-text">Sobre o Autor</h5>
          <p class="grey-text lighten-4">We have provided detailed documentation as well as specific code examples to help new users get started. We are also always open to feedback and can answer any questions a user may have about Materialize. We have provided detailed documentation as well as specific code examples to help new users get started. We are also always open to feedback and can answer any questions a user may have about Materialize.</p>
        </div>
      </div>
    </div>

    <div class="footer-copyright">
      <div class="container white-text">
        Made with <a class="white-text" href="#">AngularJS</a> and <a class="white-text" href="#">Materialize</a>.
        <a class="white-text lighten-4 right" href="https://github.com/Dogfalo/materialize/blob/master/LICENSE">MIT License</a>
      </div>
    </div>
  </footer>
  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="bower_components/materialize/bin/materialize.js"></script>
  <script src="bower_components/angular/angular.js"></script>
  <script type="text/javascript">
    $(document).ready(function() {
      $('select').material_select();
    });
    var phonecatApp = angular.module('tabela_pcctae', []);

    phonecatApp.controller('gratificacao', ['$scope', '$http', function ($scope, $http) {
      $http.get('json/properties.json').success(function(data) {
        console.log(data["cds_fgs"]);
        $scope.everything = data;
        $scope.cds_fgs = data["cds_fgs"];
        $('select').material_select();
      }).
      error(function(data, status, headers, config) {
        console.log(data, status, headers, config);
      });
      $scope.cds_fgas = [
        {'name': 'Nexus S',
         'value': 'Fast just got faster with Nexus S.'},
        {'name': 'Motorola XOOM™ with Wi-Fi',
         'value': 'The Next, Next Generation tablet.'},
        {'name': 'MOTOROLA XOOM™',
         'value': 'The Next, Next Generation tablet.'}
      ];
    }]);
  </script>
  </body>
</html>