<html lang="pt_BR" ng-app="tabela_pcctae">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <title>Tabela PCCTAE - 0.0.1</title>

  <!-- CSS  -->
  <link type="text/css" rel="stylesheet" href="bower_components/materialize/bin/materialize.css"  media="screen,projection"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
</head>
<body>
  <nav class="red lighten-2">
    <div class="container">
      <div class="nav-wrapper">
        <a id="logo-container" href="#" class="brand-logo">
          Tabela PCCTAE
        </a>
        <ul id="nav-mobile" class="right side-nav">
          <li><a href="#">Versão Desktop</a></li>
        </ul><a href="#" data-activates="nav-mobile" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
      </div>
    </div>
  </nav>
  <div class="section no-pad-bot" id="conteudo" ng-controller="main-controller">
    <div class="container">
      <div class="row">
        <form class="floating-content col s12 m12 l7">
          <div class="col s12">
            <h2 class="flow-text">Estrutura do Vencimento Básico do PCCTAE:</h2>
            <select name="estrutura" ng-change="update_estrutura()" ng-model="estrutura" ng-options="value.key as value.value for value in estruturas" reload-select>
              <option value='' disabled selected>Escolha uma opção</option>
            </select>
          </div>

          <div class="col s12 m6">
            <h2 class="flow-text">Qualificação:</h2>
            <select name="qualificacao" ng-change="update_qualificacao()" ng-model="qualificacao" ng-options="value for value in qualificacoes" reload-select>
              <option value=''  disabled selected>Escolha uma opção</option>
            </select>
          </div>

          <div class="col s12 m6">
            <h2 class="flow-text">Relação:</h2>
            <select name="relacao" ng-change="update_relacao()" ng-model="relacao" ng-options="value.key as value.key for value in relacoes" reload-select>
              <option value=''  disabled selected>Escolha uma opção</option>
            </select>
          </div>

          <div class="col s12 m6">
            <h2 class="flow-text">Classe:</h2>
            <select name="classe" ng-change="update_classe()" ng-model="classe" ng-options="value as value for value in classes" reload-select>
              <option value=''  disabled selected>Escolha uma opção</option>
            </select>
          </div>

          <div class="col s12 m6">
            <h2 class="flow-text">Nível:</h2>
            <select name="nivel" ng-change="update_nivel()" ng-model="nivel" ng-options="value as value for value in niveis" reload-select>
              <option value=''  disabled selected>Escolha uma opção</option>
            </select>
          </div>

          <div class="col s12">
            <h2 class="flow-text">Gratificação:</h2>
            <select name="gratificacao" ng-change="update_gratificacao()" ng-model="gratificacao" ng-options="value as value for value in gratificacoes" reload-select>
              <option value=''  disabled selected>Escolha uma opção</option>
            </select>
          </div>

          <div class="col s12">
            <h2 class="flow-text">Adicional Periculosidade/Insalubridade:</h2>
            <select name="insalubridade" ng-change="update_insalubridade()" ng-model="insalubridade" ng-options="value.key as value.value for value in insalubridades" reload-select>
              <option value='' disabled selected>Escolha uma opção</option>
            </select>
          </div>

          <div class="col s12">
            <h2 class="flow-text">Auxílio Pré-Escolar:</h2>
            <select name="preescola" ng-change="update_preescola()" ng-model="preescola" ng-options="value as value for value in niveis" reload-select>
              <option value="" disabled selected>Número de dependentes</option>
            </select>
          </div>

          <div class="col s12">
            <h2 class="flow-text">Auxílio Transporte:</h2>
            
            <div class="row">
              <div class="input-field col s12">
                <input id="" type="text" name="transporte">
                <label>Valor</label>
              </div>
            </div>
          </div>

          <div class="col s12">
            <h2 class="flow-text">Outras Gratificações:</h2>
            
            <div class="row">
              <div class="input-field col s12">
                <input id="" type="text" name="outras">
                <label>Valor</label>
              </div>
            </div>
          </div>

          <div class="col s12">
            <h2 class="flow-text">Saúde Suplementar:</h2>
            
            <div class="row">
              <div class="input-field col s12">
                <input id="" type="text" name="saude">
                <label>Valor</label>
              </div>
            </div>
          </div>
        </form>

        <div class="floating-content col s12 m12 l4 offset-l1">
          <h2 class="flow-text">Resultado da Simulação</h2>

          <table class="bordered">
            <tbody>
              <tr style="font-weight:bold;">
                <td>Salário Bruto</td>
                <td class="blue-text">R$ {{salario_bruto}}</td>
              </tr>
              <tr style="font-weight:bold;">
                <td>Total de Descontos</td>
                <td class="red-text">R$ {{total_desconto}}</td>
              </tr>
              <tr style="font-weight:bold;">
                <td>Salário Líquido</td>
                <td class="green-text">R$ {{salario_liquido}}</td>
              </tr>
            </tbody>
          </table>

          <h2 class="flow-text">Quadro Resumo</h2>
          <table>
            <tbody>
              <tr>
                <td colspan="2">
                  <h6 class="grey-text lighten-1">
                    <strong>Receitas</strong>
                  </h6>
                </td>
              </tr>
              <tr>
                <td>Vencimento Básico</td>
                <td>R$ {{vencimento_basico}}</td>
              </tr>
              <tr>
                <td>Incentivo à Qualificação</td>
                <td>R$ {{incentivo_qualificacao}}</td>
              </tr>
              <tr>
                <td>Gratificação</td>
                <td>R$ {{gratificacao_basico}}</td>
              </tr>
              <tr>
                <td>Adicional Peric./Ins.</td>
                <td>R$ {{adicional_insalubridade}}</td>
              </tr>
              <tr>
                <td>Auxílio Alimentação</td>
                <td>R$ {{auxilio_alimentacao}}</td>
              </tr>
              <tr>
                <td>Auxílio Pré-Escolar</td>
                <td>R$ {{auxilio_preescola}}</td>
              </tr>
              <tr>
                <td>Auxílio Transporte</td>
                <td>R$ {{auxilio_transporte}}</td>
              </tr>
              <tr>
                <td>Outras Gratificações</td>
                <td>R$ {{outras}}</td>
              </tr>
              <tr>
                <td>Saúde Suplementar</td>
                <td>R$ {{saude_suplementar}}</td>
              </tr>

              <tr style="border:none;">
                <td colspan="2">
                  <h6 class="grey-text lighten-1">
                    <strong>Descontos</strong>
                  </h6>
                </td>
              </tr>
              <tr>
                <td>Base para INSS</td>
                <td class="red-text">R$ {{base_inss}}</td>
              </tr>
              <tr>
                <td>Alíquota INSS</td>
                <td class="red-text">{{aliquota_inss}}</td>
              </tr>
              <tr>
                <td>Desconto INSS</td>
                <td class="red-text">R$ {{desconto_inss}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <footer class="red lighten-2">
    <div class="container">
      <div class="row">
        <div class="col l12 s12">
          <h5 class="white-text">Sobre o Autor</h5>
          <p class="grey-text lighten-4">We have provided detailed documentation as well as specific code examples to help new users get started. We are also always open to feedback and can answer any questions a user may have about Materialize. We have provided detailed documentation as well as specific code examples to help new users get started. We are also always open to feedback and can answer any questions a user may have about Materialize.</p>
        </div>
      </div>
    </div>

    <div class="footer-copyright">
      <div class="container white-text">
        Made with <a class="white-text" href="#">AngularJS</a> and <a class="white-text" href="#">Materialize</a>.
        <a class="white-text lighten-4 right" href="https://github.com/Dogfalo/materialize/blob/master/LICENSE">MIT License</a>
      </div>
    </div>
  </footer>
  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="js/materialize.min.js"></script>
  <script src="bower_components/angular/angular.js"></script>
  <script type="text/javascript">
    var tabelaPcctae = angular.module('tabela_pcctae', []);
    
    tabelaPcctae
    .directive('reloadSelect', function($timeout) {
      return function(scope, element, attrs, ngModel) {
        $timeout(function() {
          scope.$emit('reloadSelect', element, attrs, ngModel);
        });
      };
    })
    .controller('main-controller', ['$scope', '$http', function ($scope, $http) {
      $scope.update_estrutura = function(){
        console.log($scope.estrutura);
      };
      $scope.update_qualificacao = function(){
        console.log($scope.qualificacao);
      };
      $scope.update_relacao = function(){
        $scope.percentuais_relacao = jQuery.grep($scope.relacoes, function(e){ return e.key == $scope.relacao; })[0].value;
        console.log($scope.percentuais_relacao);
      };
      $scope.update_classe = function(){
        console.log($scope.classe);
      };
      $scope.update_nivel = function(){
        console.log($scope.nivel);
      };
      $scope.update_gratificacao = function(){
        console.log($scope.gratificacao);
      };
      $scope.update_insalubridade = function(){
        console.log($scope.insalubridade);
      };
      $scope.update_preescola = function(){
        $scope.auxilio_preescola = $scope.everything[$scope.estrutura]["auxilio_preescola"] * $scope.preescola 
        console.log($scope.auxilio_preescola);
      };
      $scope.$on('reloadSelect', function(scope, element, attrs, ngModel){
          jQuery('select').material_select();
      });
      $http.get('json/properties.json').success(function(data) {
        $scope.everything = data;
        $scope.estruturas = data["estruturas"];
        $scope.qualificacoes = data["qualificacoes"];
        $scope.relacoes = data["relacoes"];
        $scope.classes = data["classes"];
        $scope.niveis = data["niveis"];
        $scope.gratificacoes = data["gratificacoes"];
        $scope.insalubridades = data["insalubridades"];
      }).
      error(function(data, status, headers, config) {
        console.log(data, status, headers, config);
      });
      $('select').disabled = true;
    }]);
  </script>
  </body>
</html>